@charset "UTF-8";

@font-face {
    font-family: 'android' ;
    src: url('fonts/idroid.otf') format(opentype);
    font-weight: normal;
}
:root{
    --cor0: #05A9EB;
    --cor1: #06D0D4;
    --cor2: #07F6B8;
    --cor3: #0663D4;
    --cor4: #0735F6;
    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-android: 'android', arial;

}
* {
    margin: 0px;
    padding: 0px;
    
}


body{
    background-color:#05f6fab9 ;
    font-family: var(--font-padrao);
    

}


header{
    background-image: linear-gradient(to bottom, var(--cor0),var(--cor4) );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    margin-bottom: 30px;
    
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    
    
    
}
header > p{
    color: white;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    margin-bottom: 50px;
    
}
nav {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.445);
}
nav > a {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: rgb(109, 108, 108);
}
main{
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--cor0);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.video{
    background-color: #025b7e;
    
    margin: 0 -20px 30px -20px ;
    padding: 20px ;
    padding-bottom: 59%;
    position: relative;

}
div.video > iframe{
position: absolute;
top:5% ;
left: 5%;
width: 90%;
height: 90%;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    color: white;
    font-family: var(--fonte-android);
   

}
main h2{
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor4) , transparent);
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong{
    color: black;
    font-weight: bold;
    
    padding: 2px 6px;
}
main a {
    text-decoration: none;
    background-color: var(--cor2);
    font-weight: bold;
    padding: 2px 6px;
    color: black;
}
main a:hover{
    text-decoration: underline;
}
aside{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.493);
}
aside h3{
    background-color: var(--cor4);
    padding: 5px;
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px

}
aside > ul{
list-style-position: inside;
columns: 2;
list-style-type: none;

}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    text-decoration: none;
    background-color: var(--cor2);
    font-weight: bold;
    padding: 2px 6px;
    color: black;
}
